<h1>Cadastre o seu livro:</h1>
<form class="form" action="/books/insertbook" method="POST">
  <div class="form-control">
    <label for="name">Título:</label>
    <input type="text" name="name" placeholder="Título do livro">
  </div>
  <div class="form-control">
    <label for="email">Número de páginas:</label>
    <input type="number" name="email" placeholder="Quantas páginas o livro tem?">
  </div>
  <input type="submit" value="Cadastrar">
</form>

